<form>
  <mat-card class="information-card">
    <mat-card-header class="information-header">
      <mat-card-title>Information</mat-card-title>
      <img mat-card-avatar src="assets/avatar.png">
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="information-form-field">
        <mat-label>Fraktur</mat-label>

        <app-snomed-autocomplete multi="false" #fraktur ecl="<<125605004 | fraktur i skelettben |" required placeholder="Snomed-begrepp">
        </app-snomed-autocomplete>
        <mat-hint>Fyll i lite fler lämpliga Snomed-begrepp</mat-hint>
      </mat-form-field>
      <mat-form-field class="information-form-field">
        <mat-label>Ben</mat-label>

        <app-snomed-autocomplete multi="true" #ben ecl="<<({{fraktur.firstSelected || 125605004}}.363698007)" required placeholder="Snomed-begrepp">
        </app-snomed-autocomplete>
        <mat-hint>Fyll i lite lämpliga Snomed-begrepp</mat-hint>
      </mat-form-field>
      <mat-form-field class="information-form-field">
        <mat-label>Allergen</mat-label>

        <app-snomed-autocomplete multi="true" #mat ecl="<<762766007 | ätlig substans |" required placeholder="Snomed-begrepp">
        </app-snomed-autocomplete>
        <mat-hint>Fyll i lite lämpliga Snomed-begrepp</mat-hint>
      </mat-form-field>
      <mat-form-field class="information-form-field">
        <mat-label>Sökorsak</mat-label>

        <app-snomed-autocomplete multi="true" #ko ecl="^60001000052100" langRefset="64311000052107" required placeholder="Snomed-begrepp">
        </app-snomed-autocomplete>
        <mat-hint>Fyll i lite lämpliga Snomed-begrepp</mat-hint>
      </mat-form-field>
      <mat-form-field class="information-form-field">
        <mat-label>Yrke</mat-label>
        <app-snomed-autocomplete multi="false" #yrke ecl="^68581000052104 | urval yrken |" required placeholder="Snomed-begrepp">
        </app-snomed-autocomplete>
        <mat-hint>
          SOSNYK:
          <app-snomed-map conceptId="{{yrke.firstSelected}}" mapId="1234567890"></app-snomed-map>
          <span class="spacing"></span>
          AID:
          <app-snomed-map conceptId="{{yrke.firstSelected}}" mapId="1234567891"></app-snomed-map>
        </mat-hint>
      </mat-form-field>
    </mat-card-content>
  </mat-card>
</form>
<div>{{ fraktur.value }}</div>
